.mainheading{
    text-align: center;
}

body {
    background-color: grey;
}

h1 {
    text-align: center;
    background-color: white;
}

a {
    background-color: transparent;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
}

.button1 {
    font-size: 10px;
    color:black;
}